
body{
    background:blanchedalmond;
    padding: 15px;
    margin: 15px;

}
main {
    display: inline;
}
h1{
    font-family: Helvetica, sans-serif;
    padding: 10px 20px 10px 20px;
    display: inline;
}

h2, H4{
    font-family: 'Trebuchet MS', sans-serif;
}

h3{
    font-family: 'Trebuchet MS', sans-serif;
    margin-right: 20px;
    display: flex;
    justify-content: center; 
}

UL, OL, P{
    font-family: Verdana, sans-serif;
    line-height: 150%;

}
article {
    padding: 10px;
    display:flex;
    justify-content: space-around;
    margin-right: 20px;   
}

#main-menu {
    display: flex;
    justify-content: space-around;
}

#Menu li {
    padding: 10px;
    display:inline;
    justify-content: space-around;
    margin-right: 20px;
}

#Menu ul {
    padding: 0;
    justify-content: space-around;
}
