body{
    background:blanchedalmond;
}

h1{
    font-family: Helvetica, sans-serif;
}

h2, H3, H4{
    font-family: 'Trebuchet MS', sans-serif;

}
UL, OL, P{
    font-family: Verdana, sans-serif;
    line-height: 150%;
}

